
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/marketingappdb
    username: root
    password: 
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update          
  mvc:
    view:
      prefix: /WEB-INF/jsps/
      suffix: .jsp